.navbar {
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: #13294B;
  padding-left: 5rem;
  align-items: center;
}

.menu-button {

  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.menu-icon {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: white;
  background-color: #13294B;
}

.logo {
  background-color: #13294B;

}

.logo-img {
  height: 1.5rem;
  background-color: #13294B;
  margin-left: 2.75rem;
  cursor: pointer;
}