<div class="button-modal-container" id="btnModalContainer">
  <button class="open-modal-button" (click)="openDetailParkingModal()">
    <i class="pi pi-check" style="color: white; background-color: green;"></i>
  </button>
</div>


<div class="modal-parking-container" id="detailParkingModal">
  <div class="modal-parking-dialog">
    <div class="modal-parking-content">
      <div class="modal-parking-header">
        <h4 class="modal-parking-title">Vaga (número) </h4>
        <button class="btn-close" type="button" (click)="closeDetaiParkinglModal()"></button>
      </div>
      <div class="modal-parking-body">
        <div class="info-parking-container">
          <h5>Tipo</h5>
          <p>Reservada</p>
        </div>
        <div class="info-parking-container">
          <h5>Servidor Ocupante</h5>
          <p>João Silva (Procurador)</p>
        </div>
        <div class="info-parking-container">
          <h5>Veículo</h5>
          <p>Fiat/Pulse (Branco) - JKK0956</p>
        </div>
        <div class="info-parking-container">
          <h5>Numero da TAG</h5>
          <p>123456</p>
        </div>
        <div class="info-parking-container">
          <h5>Turno</h5>
          <p>Matutino</p>
        </div>
      </div>
    </div>
  </div>
</div>