<div class="container-predio">
  <div class="esquerda">
    <img class="predio" src="../../../assets/images/Prédio desenho.png" alt="">
  </div>
  <div class="direita">
    <div class="container-barra-de-rolagem">
      <img id="elevador" [style.top.%]="elevadorPosition" class="icone-elevador"
        src="../../../assets/images/icone-elevador.png" />
    </div>
    <div class="container-botoes" (scroll)=" onScroll($event)">

      <button class="botao-andar" (click)="goToFifteenthFloor()"
        url="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">15°
        Andar</button>
      <button class="botao-andar" (click)="goToFourteenthFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">14°
        Andar</button>
      <button class="botao-andar" (click)="goToThirteenthFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">13°
        Andar</button>
      <button class="botao-andar" (click)="goToTwelfthFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">12°
        Andar</button>
      <button class="botao-andar" (click)="goToEleventhFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">11°
        Andar</button>
      <button class="botao-andar" (click)="goToTenthFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">10°
        Andar</button>
      <button class="botao-andar" (click)="goToNinthFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">9°
        Andar</button>
      <button class="botao-andar" (click)="goToEighthFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">8°
        Andar</button>
      <button class="botao-andar" (click)="goToSeventhFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">7°
        Andar</button>
      <button class="botao-andar" (click)="goToSixthFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">6°
        Andar</button>
      <button class="botao-andar" (click)="goToFifthFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">5°
        Andar</button>
      <button class="botao-andar" (click)="goToFourthFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">4°
        Andar</button>
      <button class="botao-andar" (click)="goToThirdFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">3°
        Andar</button>
      <button class="botao-andar" (click)="goToSecondFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">2°
        Andar</button>
      <button class="botao-andar" (click)="goToFirstFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">1°
        Andar</button>
      <button class="botao-andar" (click)="goToMezzanine()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">Mezanino</button>
      <button class="botao-andar" (click)="goToGroundFloor()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">Térreo</button>
      <button class="botao-andar" (click)="goToFirstBasement()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">1°
        Subsolo</button>
      <button class="botao-andar" (click)="goToSecondBasement()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">2°
        Subsolo</button>
      <button class="botao-andar" (click)="goToThirdBasement()"
        href="https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical">3°
        Subsolo</button>
    </div>
  </div>
</div>