<nav class="main-menu">
  <ul class="optinos-list">
    <li class="item-menu">
      <a href="#">Início</a>
    </li>
    <li class="item-menu">
      <a href="#">Consulta</a>
    </li>
    <li class="item-menu">
      Cadastro
      <ul class="register-list">
        <li class="item-cadastro">
          <a href="#">Vagas de estacionamento</a>
        </li>
        <li class="item-cadastro">
          <a href="#">Andar</a>
        </li>
        <li class="item-cadastro">
          <a href="http://localhost:4200/">Sala</a>
        </li>
        <li class="item-cadastro">
          <a href="http://localhost:4200/">Patrimônio</a>
        </li>
        <li class="item-cadastro">
          <a href="http://localhost:4200/">Pontos de Alimentação</a>
        </li>
        <li class="item-cadastro">
          <a href="http://localhost:4200/">Servidor</a>
        </li>
        <li class="item-cadastro">
          <a href="http://localhost:4200/">Perfil</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>